/* VERSION PERSO

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  width: 150px;
  background: transparent;
  color: rgb(234, 232, 232);
  border: 1px solid rgb(234, 232, 232);
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  color: white;
  border: 1px solid white;
}


nav {
  padding: 13px 0px;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  width: 75%;
}

nav li {
  cursor: pointer;
  text-align: center;
}

nav li:hover {
  color: rgb(95, 6, 95);
}

#language {
  padding: 8px 12px;
  background: lightgray;
  border-radius: 20px;
  border: 1px solid transparent;
}

#language:hover {
  border: 1px solid rgb(95, 6, 95);
}


header {
  background: url("./assets/img/bg.jpg") center;
  text-align: center;
}

.main-header {
  padding: 50px 0;
  text-transform: uppercase;
  color: rgb(234, 232, 232);
}

#logo img {
  width: 40%;
}

.main-header h1 {
  font-size: 1.2rem;
  padding: 30px 0;
}

.main-header button {
  width: 250px;
}


.header-text {
  font-size: 1.1rem;
  text-align: center;
}

.header-text p {
  width: 70%;
  margin: 40px auto;
}


.icon-part {
  background: rgb(26, 26, 26);
}

.icon-part-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  margin: auto;
  height: 500px;
}

.list-icon-part {
  color: rgb(234, 232, 232);
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-icon-part lip-logo {
  height: 40%;
}

.list-icon-part h3 {
  text-transform: uppercase;
}

.list-icon-part p {
  font-size: 0.9rem;
  width: 75%;
}

.list-icon-part button {
  width: 200px;
}


.news-part {
  width: 75%;
  margin: 50px auto;
}

.header-news {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 20px 0;
}

.right-part {
  margin: auto 0;
}

.right-part button {
  color: black;
  border: 1px solid black;
  width: 200px;
}

.right-part button:hover {
  color: rgb(38, 38, 38);
  border: 1px solid rgb(38, 38, 38);
}

.left-part h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}

.left-part p {
  font-size: 0.7rem;
  padding-top: 5px;
}

.main-news-container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
.mn-container-part {
  width: 33%;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;
}

.main-news-container h4 {
  font-size: 0.8rem;
  padding-top: 10px;
}

.main-news-container p {
  font-size: 0.7rem;
  padding-top: 10px;
}

.link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: rgb(95, 6, 95);
  position: absolute;
  bottom: 0;
}


.contact {
  width: 75%;
  margin: auto;
}

.contact-container {
  padding: 20px 0;
}

.contact-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  padding: 20px 0px;
}

#contact-img {
  text-align: center;
}

.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list p {
  font-size: 0.8rem;
  width: 70%;
}

.list h5 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 0;
}

.infos-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list a {
  font-size: 0.8rem;
  text-decoration: none;
}

.footer-logos {
  display: flex;
  width: 75%;
  justify-content: space-around;
  padding: 10px 0;
}
.copyright {
  font-size: 0.8rem;
}

.contact-medias {
  border-top: 2px solid lightgray;
  padding-top: 15px;
  display: flex;
  width: 100%;
}
.medias-text {
  width: 30%;
}

.medias-text h3 {
  text-transform: uppercase;
  font-size: 1rem;
}

.medias-text p {
  font-size: 0.8rem;
  padding-top: 10px;
}

.medias-logos {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}


footer {
  background: rgb(26, 26, 26);
  color: rgb(234, 232, 232);
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

footer ul {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 799px) {
  nav {
    display: none;
  }

  .main-header h1 {
    font-size: 2rem;
  }

  .main-header button {
    width: 400px;
    font-size: 1.2rem;
  }

  .header-text p {
    width: 90%;
  }

  .icon-part-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .list-icon-part {
    padding: 25px 0;
  }
  .list-icon-part h3 {
    padding-top: 10px;
  }

  .list-icon-part p {
    padding-top: 10px;
    font-size: 1rem;
  }

  .list-icon-part button {
    margin-top: 20px;
  }

  .main-news-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mn-container-part {
    width: 100%;
    align-items: center;
  }

  .mn-container-part h4 {
    font-size: 1.2rem;
  }

  .mn-container-part p {
    text-align: left;
    font-size: 0.9rem;
  }

  .contact {
    display: none;
  }
}

*/
